html {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background-color:rgba(48, 54, 61, 1);
}

iframe {
  border:none;
}

#bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgba(48, 54, 61, .8);
  z-index : -100;
}

#foldertext {
  position:fixed;
  top:1%;
  right:1%;
  border : 2px solid white;
  border-radius: 5px;
  padding:8px; /* TODO change to percent */
  cursor:pointer;
}


body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  white-space:pre;
  color:white;
  /* font-family:"comicmono"; */
  font-family:"nfm";
  background-color:rgba(48, 54, 61, .8);
  overflow:hidden;
  line-height:1.3;
}
#topbar {
  position:absolute;
  top:0;
  background-color:#3f4563;
  height:5%;
  width:100%;
  line-height:45%;
}
#bottombar {
  display:absolute;
  width:100%;
  background-color:#202020;
  position:fixed;
  bottom:1%;
}
#currentstate {
  /* padding-left:1%; */
  background-color: #0b9dff;
  border-radius:10px;
  color:white;
}
#currentlyediting {
  color: #63ac8d;
}
#filename {
  position:relative;
  height:100%;
  vertical-align:middle;
  height:100%;
}
#rowpercent {
}
#text {
  position:relative;
  font-size:14;
  color:white;
  text-overflow:ellipsis;
}
#textwrapper {
  white-space:unset;
  height:90%;
  width:100%;
  overflow:hidden;
}
#command {
  width:100%;
  background-color:#30363d;
  position:fixed;
  bottom:1%;
}
#scope {
  position:fixed;
  display:none;
  flex-direction:row;
  width:60%;
  height:60%;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:rgba(48, 54, 61, .8);
  border-radius:7px;
  border : 3px solid white;
}

#browserinstance {
  display:none;
  /* display:flex; */
  align-items:end;
  justify-content:center;
  flex-direction:column;
  position:fixed;
  z-index:1001;
  width:60%;
  height:60%;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#browseriframe {
  display:flex;
  width:100%;
  height:90%;
}
#tabbar {
  width:100%;
  height:5%;
  background-color:#1fd83c;
  border-top-right-radius : 10px;
  border-top-left-radius : 10px;
}
#urlbar {
  white-space:initial;
  width:100%;
  height:5%;
  background-color:#ffffff;
}
#urlinput {
  padding-left:5%;
  width:50%;
  border-radius:10px;
  border:none;
  background-color:#d9d9db;
}
#keybuffer {
  color : #0fff50;
}
#wpm {
  color:yellow;
}

@font-face {
  font-family:"comicmono";
  src: url("./fonts/ComicMono.ttf");
}

@font-face {
  font-family:"nfm";
  src: url("./fonts/nfm.ttf");
}
